.tableStyle {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  padding-bottom: 5%;
}

.tableStyle td,
.tableStyle th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableStyle tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableStyle tr:hover {
  background-color: #ddd;
}

.tableStyle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #11045e;
  color: white;
}

@media screen and (max-width: 500px) {
  .tableStyle {
    width: 90%;
  }
}
